@charset "utf-8";
/* CSS Document */

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: large;
	margin:0;
}

h1, h2, h3, h4 { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
h4 { font-style:italic; }

header {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	font-weight: 400;
	font-size: 45pt;
	text-align: center;
	border-width: 0cm;
	border-style: none;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer {
	background-color: #000000;
	color: #FFFFFF;
	font-family: amatic-sc;
	font-style: normal;
	font-weight: 400;
	font-size: 30pt;
	text-align: center;
}

li {
	float:left;
}

ul {
	list-style-type:none;
}

a {
	display: block;
	padding:15px;
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-decoration: none;

}

.button {
	background-color: #DD092A;
	padding:7px;
}

p {
	padding-top:50px;	
}

nav {
width:100%;
}
